<!DOCTYPE html>
<html>
  <head>
    <title>
      AJAX Request Tester
    </title>
    <script src="jquery-1.11.0.js"></script>
    <script src="tester.js"></script>
    <style type="text/css">
      .wrapper{
        max-width: 900px;
        margin: 0 auto;
      }
      body{
        font-family: "Courier New", sans-serif
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>